body {
  background-color: #fcfcfc;
  font-family: 'Source Serif Pro', serif;
}

.mapContainer {
  height: 100%;
  width: 100%;
}

#map {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.fadeIn {
  transition: background-color .25s ease;
}

.activeHover {
  background-color: #f2f2f2;
}

.infoPanel {
  background-color: #c3e3e6;
  color: #616e75;
  position: relative;
  overflow: hidden;
}

.infoPanel h3 {
  font-size: 35px;
}

.none {
  display: none;
}

.searchResults {
  overflow-y: scroll;
  height: 559px;
}

.material-icons{
  display: inline !important;
}

.card-panel {
  margin-top: 0;
}

.info {
  z-index: 27;
  position: relative;
}

.nameHead {
  min-width: 70px;
}

/*   Cloud     */

.firstCloud {
  top: 40%;
}

.secondCloud{
  top: 95%;
  left: 35%;
}

.thirdCloud {
  top: 35%;
  left: 85%;
}

.cloud {
    background-color: white;
    min-height: 50px;
    min-width: 200px;
    border-radius: 100px;
    z-index: 1;
    position: absolute;
}

.cloud:before {
  content: '';
  background-color: white;
  position: absolute;
  border-radius: 100px;
  height: 89px;
  width: 90px;
  margin-left: 35px;
  margin-top: -41px;
} 
.cloud:after {
  background-color: white;
  content: '';
  border-radius: 100px;
  height: 70px;
  width: 67px;
  position: absolute;
  margin-left: 100px;
  margin-top: -23px;
}

/*  Media Queries */

@media(max-width: 600px) {
  .card-panel {
    margin-top: 20px;
  }
}